/* This contains general css */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
  height: inherit;
}
.appContainer {
  font-family: sans-serif;
  text-align: center;
  background-color: #292929;
  height: 100%;
}
